<div class="card text-bg-warning bg-primary text-center">
    <img class="card-img-top" src="" alt="">
    <div class="card-body">
        <h4 class="card-title text-light">Olá!<b></b>, Seja Bem-vindo(a)!</h4>
        <p class="card-subtitle"><b>Use o menu acima para navegar no Site.</p>
    </div>
</div>

<div class="container">
    <hr>
    <b>CRUD</b> para controle de produtos, categorias de produtos e cadastro de Clientes.
    </p>
</div>